.loginContainer{
   display: flex;
  flex-direction: column;


  height: 100%;
  min-height: 100vh;
background-color: white;
  margin-top: 80px;
  margin-left: 90px;
  gap: 50px;
  font-size: 20px;
}
label{
    color: orange;
}
button{
    margin-left: 800px;
    font-size: 20px;
    color: orange;
    background-color: rgb(241, 235, 235);
}